main {
  margin:0;padding:0;height:100%;width:100%;
}

.fruta {
  height: 200px;
  width: 200px;
  margin: 10px 0 50px;
}

.img-responsive
{
  display: inline-block;
}

.bg-pattern-dark
{
  background-repeat: repeat;
  background-image: url(../img/pattern_1.png);
}

.bg-pattern-yellow
{
  background-repeat: repeat;
  background-image: url(../img/pattern_2.png);
}

.bg-pattern-primary
{
  background-repeat: repeat;
  background-image: url(../img/pattern_3.png);
}

.bg-light-yellow
{
  background-color: #F9F9C7;
}

.small-down {
  padding-bottom: 50px;
}

.small-top {
  padding-top: 50px;
}

/*
Lista
*/

.checklist {
    list-style: none;
    padding:0;
    margin:0;
}

.checklist li {
  text-indent: -.7em;
  list-style: none;
  text-align: left;
}

.checklist li:before {
  content: "• ";
}

.checklist .right:before {
  content: "\2714  ";
  color:green;
}

.checklist .wrong:before {
  content: "\2718  ";
  color:red;
}
