main {
  margin:0;padding:0;height:100%;width:100%;
}

.fruta {
  height: 200px;
  width: 200px;
  margin: 10px 0 50px;
}

.img-responsive
{
  display: inline-block;
}

.bg-pattern-dark
{
  background-repeat: repeat;
  background-image: url(../img/pattern_1.png);
}

.bg-pattern-yellow
{
  background-repeat: repeat;
  background-image: url(../img/pattern_2.png);
}

.bg-pattern-primary
{
  background-repeat: repeat;
  background-image: url(../img/pattern_3.png);
}

.bg-light-yellow
{
  background-color: #F9F9C7;
}

.small-down {
  padding-bottom: 50px;
}

.small-top {
  padding-top: 50px;
}

.section-heading{
  font-weight: 600;
}

/*
Lista
*/

.checklist {
  list-style: none;
  padding:0;
  margin:0;
}

.checklist li {
  text-indent: -.7em;
  list-style: none;
  text-align: left;
}

.checklist li:before {
  content: "• ";
}

.checklist .right:before {
  content: "\2714  ";
  color:green;
}

.checklist .wrong:before {
  content: "\2718  ";
  color:red;
}

#overlay-wrapper{
  position: fixed;
  top: 0;
  left:0;
  bottom:0;
  right: 0;
  background-color: black;
  color: white;
  z-index: 9999;
  display: none;
  overflow-y: scroll;
}

.overlay-content-box{
  position: relative;
  height: auto;
  display: none;
  padding: 70px 50px;

}

#hide{
  width: 50px;
  height: 50px;
  font-size: 50px;
  font-family: sans-serif;
  text-align: center;
  line-height: 50px;
  position: fixed;
  top: 25px;
  left: 25px;
  cursor: pointer;
  z-index: 100000;
}
