#u261
{
	background: #1F1F1F url("../images/footer-bg.jpg") no-repeat center top;
	background-size: cover;
}

#u261_align_to_page
{
	max-width: 910px;
}

#u750-4
{
	background-color: transparent;
	text-align: center;
	letter-spacing: 2px;
	color: #FFFFFF;
	font-family: sommet-slab, sans-serif;
	font-weight: 900;
	font-style: normal;
}

#u785-4,#u798-6,#u792-6,#u804-4
{
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: sommet-slab, sans-serif;
	font-weight: 100;
	font-style: normal;
}

#u366,#u756
{
	background-color: transparent;
}


